<!DOCTYPE html>
<html ng-app="pland">
<head>
	<meta charset="utf-8">
	<meta name="description" content="An efficient way to plan your day.">
	<meta name="viewport" content="width=device-width">
	<!-- Facebook -->	<meta property="og:title" content="pland.io - Make the most of your day">
	<meta property="og:description" content="An efficient way to plan your day.">
	<meta property="og:url" content="http://www.pland.io/">

	<title>pland.io</title>

				<!-- Scripts -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
	<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>

		<!---CSS-->
	<link rel="stylesheet" type="text/css" href="style/mystyle.css">

		<!---Fonts-->
	<link href='http://fonts.googleapis.com/css?family=Raleway:200' rel='stylesheet' type='text/css'>

				<!-- Google Maps API -->
	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>

	<script src="map.js"></script>

</head>
<body>
<h6>pland.io</h6>
		<!-- Weather data -->
	<div class="weather-container">
		<div id="weather"></div>
		</br>
			<button class="js-geolocation" style="display: none;">Use Current Location</button>
	</div>

	<!-- Google map -->
	<div class="map-container">
		<div id='map-canvas' ></div>
		<div>
			<label for="address"></label>
			<input type="text" id="address" placeholder="Search..."/>
			<button onclick="UpdateMap()">Search</button>
		</div>
	</div>


	<!-- To do -->
	<div class="todo-container">
	  <div class="todo-wrapper" ng-controller="todoCtrl">
	  	<h2>{{getTotalTodos()}} things to do</h2>
	    <form>
	      <input class="add-input" placeholder="To do..." type="text" ng-model="formTodoText" ng-model-instant />
	      <button class="add-btn" ng-click="addTodo()">Add</button>
	    </form>
	    <ul>
	      <li ng-repeat="todo in todos">
	        <input type="checkbox" ng-model="todo.done" ng-click="clearCompleted()"/>
	        <span class="done-{{todo.done}}">{{todo.text}}</span>
	      </li>
	    </ul>
	  </div>
  </div>

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.2.1/bootstrap.min.js"></script>
	<script src="js/weather.js"></script>
	<script src="js/map.js"></script>
	<script src="js/jquery.simpleWeather.min.js"></script>
	<script src="style/artill_clean_icons.otf"></script>
	<script src="js/todoCtrl.js"></script>


</body>
</html>
